* {
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #246780;
    font-size: large;
    color: floralwhite;
}







